.anchorpane{
    -fx-background-color:#323030;

}
.pane{
    -fx-background-color:#1c4094;
    -fx-background-radius:50 0 0 50;
}
.btn{
    -fx-background-color:#f27500;
    -fx-cursor: hand;
}

.btn:hover{
    -fx-background-color:#e8651a;
}

.btn-reg{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}
.btn-reg:hover{
    -fx-text-fill:#e8651a;
}
.btn-reg:pressed{
    -fx-text-fill:white;
}
.lab{
    -fx-text-fill:red;
    -fx-font-weight:bold;
}
.combobox{
    -fx-background-color:white;
}
.l{
    -fx-background-color:white;
}